.location-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  justify-content: center;
  width: 80%;
}

.trails-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 86vh;
  overflow: scroll;
}

.location-container h2,
p {
  display: flex;
  justify-content: center;
}

.location-container h2 {
  margin-top: 5%;
}

.loading-message {
  font-weight: bold;
  font-size: 30px;
}

.city-name {
  font-family: 'Rock Salt', cursive;
}
