.location-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  justify-content: center;
  width: 80%;
}

.trails-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.location-container h2,
p {
  display: flex;
  justify-content: center;
}

.location-container h2 {
  margin-top: 5%;
}
